---
import PageHead from "@/components/PageHead.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <section>
    <h1 class="mb-4 text-3xl font-medium">About</h1>
    <p>
      Hi! I'm Alex. I'm a Builder, Hacker, and Engineer. I'm currently an intern
      at Marathon Fusion, and a sophomore at UBC studying engineering physics.
      Outside of my academics, I'm a competitor on Maple Bacon, UBC's CTF team,
      and and work on the electrical subsystems of UBC Thunderbots' robots,
      where we build small-sized soccer-playing robots. I'm also an avid skiier,
      cycler, and hiker.
    </p>
  </section>
</Layout>
