---
import "@/styles/global.css"

import Header from "@/components/Header.astro"
import Bubblechamber from "@/components/Bubblechamber.tsx"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Home | x4132.dev</title>
  </head>
  <body class="bg-background text-foreground min-h-screen">
    <Header />

    <main class="absolute top-0 container flex flex-col px-6 py-6">
      <h1 class="text-2xl font-normal">Hi! I'm Alex S.</h1>
      <h2 class="font-mono text-2xl font-normal">
        I’m a <span class="font-bold">Hacker, Builder, and Engineer.</span>
      </h2>
    </main>

    <div class="fixed inset-0 -z-10">
        <Bubblechamber client:only="react" />
    </div>
  </body>
</html>
