---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Tools" />
  <section>
    <h1 class="text-3xl font-medium mb-4">Tools</h1>
    <p class="text-muted-foreground">Coming soon.</p>
  </section>
</Layout>
