---
import { Icon } from "astro-icon/components";
import { NAV_LINKS, SITE } from "@/consts";

const currentURL = Astro.url.pathname;
---

<header class="relative z-10">
  <nav class="flex w-full items-center space-x-4 p-6 text-2xl font-light select-none">
    <a
      href="/"
      class={`mr-auto hover:opacity-80 transition-opacity ${currentURL === "/" && "invisible"}`}
    >
      {SITE.title}
    </a>

    {NAV_LINKS.map((link) => (
      <a href={link.href} class="transition-opacity hover:opacity-80 capitalize">
        {link.label}
      </a>
    ))}
    <button aria-label="Search" class="transition-opacity hover:opacity-80">
      <Icon name="lucide:search" />
    </button>
  </nav>
</header>
