---
import { Search } from "lucide-react";
const currentURL = Astro.url.pathname;
---

<header>
    <nav class="flex items-center w-full p-6 space-x-4 text-2xl font-light">
        <a
            href="/"
            class={`mr-auto hover:opacity-80 transition-opacity ${currentURL === "/" && "invisible"}`}
        >
            Home
        </a>

        <a href="/blog" class="hover:opacity-80 transition-opacity">Blog</a>
        <a href="/tools" class="hover:opacity-80 transition-opacity">Tools</a>
        <button aria-label="Search" class="hover:opacity-80 transition-opacity">
            <Search />
        </button>
    </nav>
</header>
